= simple_form_for @service, html: { class: 'form-horizontal'} do |f|
  = f.error_notification

  fieldset
    legend Novo Serviço
    = f.input :title, label: "Nome: ", required: false
    = f.input :content, label: "Descrição: ", required: false, input_html: {rows: 3}
    = f.input :image, label: "Thumb: "
    .form-actions
      = f.submit nil, class: 'btn'
      = link_to 'Cancel', services_path, class: 'btn'