section#intro.row
  article.span6
    = raw @site_settings.intro_text if @site_settings
    - if @site_settings && @site_settings.available
      p= link_to "Available for Free Lance!", contact_path, :class => "btn hire btn-green"
    = image_tag "computador.png", :id => "home_img"
section#testimonials
  h2 Testimonials
  .row
    = render @testimonials
- if @admin
  .form-actions
    = link_to 'Novo Depoimento', new_testimonial_path, :class => "btn btn-green"