= simple_form_for(@site_setting) do |f|
  = f.error_notification
  legend Configurações
  = f.input :available, label: "Disponível para Freela: "
  = f.input :name, label: "Nome do site: ", input_html: {class: "text_field"}
  = f.input :intro_text, input_html: {rows: 5, class: "span9"}
  = f.input :footer_intro, input_html: {rows: 5, class: "span9"}
  = f.input :footer_contact, input_html: {rows: 5, class: "span9"}
  = f.input :contact_info, input_html: {rows: 5, class: "span9"}
  = f.input :contact_text, input_html: {rows: 5, class: "span9"}
  .form-actions
    = f.submit "Salvar", class: 'btn'