- title "Portfolio"
h2 Portfolio
hr/
section#portfolio
  ul.nav.nav-pills
    li.active
      = link_to "All", "#", rel: "all"
    - @tags.each do |tag|
      li
        = link_to tag.name.titleize, "#", rel: tag.name
  .row
    - shadows = ["shadow1", "shadow2", "shadow3", "shadow3b", "shadow4", "shadow4b"]
    - @projects.each do |project|
      - if @admin
        = content_tag "article", data: {id: "id-#{project.id}", type: project.all_tags, object: project}, class: "portfolio_item span3 #{shadows.sample}" do
          - port_img = image_tag project.image, width: 218
          = link_to port_img, project
          h5= project.title
          small= project.tag_names
          = link_to 'x', project, confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini btn-danger'
      - else
        = content_tag "article", data: {id: "id-#{project.id}", type: project.all_tags}, class: "portfolio_item span3 #{shadows.sample}" do
          - port_img = image_tag project.image, width: 218
          = link_to port_img, project
          h5= project.title
          small= project.tag_names
- if @admin
  br/
  .form-actions
    = link_to 'Novo Projeto', new_project_path, class: "btn btn-green"