- title "Project: " + @project.title
h2= link_to "Portfolio", portfolio_path
hr/
article.row
  section.span8.image_portfolio
    - if @project.video_url.present?
      iframe[src="http://player.vimeo.com/video/#{@project.video_number}?byline=0&amp;portrait=0" width="599" height="481" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen]
    - else
      = image_tag @project.image
  aside.span4.description
    - if @admin
      h2= best_in_place @project, :title
      small= best_in_place @project, :tag_names
      = best_in_place @project, :content, :type => :textarea, :sanitize => false
      p= best_in_place @project, :visit_url
      p= best_in_place @project, :video_url
      = form_for(@project) do |f|
        .form-inputs
          = f.file_field :image, :class => "span4"
        .form-actions
          = f.button "Atualizar!", :class => "btn"
    - else
      h2= @project.title
      small= @project.tag_names
      p= raw @project.content
    = link_to "Visit this project", @project.visit_url, :class => "btn btn-green" unless @project.visit_url.empty?