<% if !flash.empty? %>
<div class="alert <%= if params[:action] == "send_mail" then "alert-error" elsif params[:action] == "contact" then "alert-success" else "alert-block" end %>">
  <a class="close" data-dismiss="alert">&times;</a>
  <% flash.each do |key, value| %>
		<h4 class="alert-heading">
			<div title="<%= key.to_s.humanize %>" class="<%= key %>"></div>
		</h4>
		<p><%= value %></p>
	<% end %>
</div>
<% end %>