- if flash.present?
  .alert class="#{if params[:action] == "send_mail" then "alert-error" elsif params[:action] == "contact" then "alert-success" else "alert-block" end}"
    a.close[data-dismiss="alert"] &times
    - flash.each do |key, value|
      h4.alert-heading
        div[title="#{key.to_s.humanize}" class="#{key}"]
      p
        = value