$gray: #808080
$primaryColor: #C9532E

$menuPadding: 60px
$borderWidth: 10px
$border: $borderWidth solid $primaryColor


html
  overflow: scroll
  body
    overflow: hidden

+selection
  background: $primaryColor
  color: white

h1, h2, h3, h4, h5, input[type=text], #header, ul.nav, nav ul 
  font-weight: 700

[class^="icon-"], [class*=" icon-"]
  font-family: FontAwesome
  font-weight: normal
  font-style: normal
  text-decoration: inherit
  -webkit-font-smoothing: antialiased
  a &
    text-decoration: none !important
.icon-facebook:before
  content: "\f082"
.icon-github:before
  content: "\f113"
.icon-twitter:before
  content: "\f099"
.icon-google-plus:before
  content: "\f0d4"
.icon-linkedin:before
  content: "\f08c"
.icon-skype:before
  content: "\f17e"
.icon-remove:before
  content: "\f00d"
.icon-envelope:before
  content: "\f003"

#main
  .content_wrapper
    padding-top: 4em
    padding-bottom: 4em

  small 
    font-size: 90%
    color: $gray

form
  textarea
    font-weight: 700
  .field_with_errors
    input, textarea 
      background: #fee
      border-color: #f88


#header 
  background: image-url("top_wave_bg.jpg") repeat-x center top
  padding-top: $menuPadding
  +background-size(cover)

#logo
  position: absolute
  top: -$menuPadding
  z-index: 20
  border: $borderWidth/2 solid #bbb
  border-radius: 30px

#site_title
  font-size: 7em
  text-transform: uppercase
  text-align: left
  margin-top: 75px
  color: #eaeaea
  line-height: 75px
  letter-spacing: -7px
  @media (max-width: 1199px)
    font-size: 6em
    line-height: 64px
  @media (max-width: 495px)
    font-size: 4.6em
    line-height: 50px

.home_project
  height: 550px
  position: relative
  background-position: center top
  background-repeat: no-repeat
  background-attachment: fixed
  +background-size(cover)
  border-top: $border
  &:last-child
    border-bottom: $border
  .project_title
    position: absolute
    top: 0
    background: $primaryColor
    display: block
    padding: 0 .6em .2em
    margin: 0
    color: white
    font-size: 3em
    letter-spacing: -3px
    text-transform: uppercase
    a:link, a:visited
      color: inherit

  .project_chart
    display: none
    position: absolute
    right: 10px
    top: 50%
    margin-top: -150px
    background: rgba(white,.8)
    border-radius: 50%
    padding: 10px
    border: 2px solid gray

  @media (min-width: 700px)
    .project_chart
      display: block

#page_content
  position: relative
  max-width: 100%
  +transition(margin .3s)

#contact
  position: fixed
  top: 0
  bottom: 0
  right: 0
  background: #333
  color: white
  z-index: 30
  box-shadow: 0 0 10px rgba(black,.4)
  width: 90%
  margin-right: -90%
  +transition(margin .3s)
  a
    color: white
    font-weight: 700
  &:target, &.active
    margin-right: 0
    ~ #page_content
      margin-left: -90%
      #contact_buttons
        &.fixed
          right: 91% 
        .close-bt
          display: block
        .open-bt
          display: none
  @media (min-width: 470px)
    margin-right: -400px
    width: 400px
    &:target ~ #page_content, &.active ~ #page_content
      margin-left: -400px
      #contact_buttons.fixed
        right: 410px

#contact_buttons
  position: absolute
  top: $menuPadding + 10px
  right: 10px
  &.fixed
    position: fixed
    top: 10px
    z-index: 300
    i
      background: $primaryColor
      color: white
  i
    font-size: 25px
    color: $primaryColor
    padding: 3px 5px
    border-radius: 3px
    +transition(.3s)
  .close-bt
    display: none
  .open-bt
    display: block

#intro
  p
    font-size: 1.2em
    margin: 20px 0 30px

#testimonials
  h2
    margin: 1em auto 2em
  .testimonial_container 
    padding-bottom: 4em
    h4
      margin: 0
  img
    margin-bottom: 1em

  hr
    margin-top: 0
    margin-bottom: 1em

#portfolio 
  .portfolio_item 
    position: relative
    margin-bottom: 18px
    height: 210px
    h5
      margin: 0
    +decorative-content
      top: -2px
      left: 0
      z-index: -5
      +image-replace("shadows/shadow1.png")

    img 
      margin-bottom: 5px
      border: 1px solid #a0a0a0

    small 
      font-size: 10px
      position: relative

    .close
      position: absolute
      top: 5px
      left: 215px
      color: red
    
    &.shadow1::after
      background-image: image-url("shadows/shadow1.png")
    &.shadow2::after
      background-image: image-url("shadows/shadow2.png")
    &.shadow3::after
      background-image: image-url("shadows/shadow3.png")
    &.shadow3b::after
      background-image: image-url("shadows/shadow3b.png")
    &.shadow4::after
      background-image: image-url("shadows/shadow4.png")
    &.shadow4b::after
      background-image: image-url("shadows/shadow4b.png")

.image_portfolio 
  position: relative
  padding-bottom: 40px
  +decorative-content
    +image-replace("shadows/shadow_big.png")
    top: 148px
    left: -11px
    z-index: -5

  img 
    border: 1px solid #a0a0a0
    border-radius: 3px

.nav-pills 
  font-size: 12px
  margin-bottom: 36px

  li
    margin-right: 20px

    a 
      padding: 0 0 1em
      color: lighten($gray,25%)
      background: none !important
      &:hover 
        color: $gray
  
  li.active a 
    color: darken($gray,25%) !important

aside.description
  small 
    position: relative
    top: -6px

address span 
  float: left
  width: 60px

footer#footer
  background: #ddd 
  padding-top: 3em
  padding-bottom: 1em
  text-align: center
  
  #social
    margin-bottom: 1em
    a 
      font-size: 1.5em
      margin-right: .5em
      color: #333
      display: inline-block
      +transition(.3s)
      &:hover
        color: $primaryColor
        +transform(scale(1.2,1.2))

  .footer_intro
    font-size: 1.4em
    line-height: 1.4em
    margin-bottom: 2em
    font-family: monospace

.alert.alert-block
  padding: 15px
  color: white
  background-color: $primaryColor
  font-weight: 700
  margin-bottom: 0
  border: none
  border-bottom: 1px dashed lighten($primaryColor, 15%)
  border-radius: 0
  z-index: 100
  position: absolute
  width: 100%

// Back to top
.back-to-top
  $size: 80px
  z-index: 100
  position: fixed
  bottom: -$size
  right: 0
  display: block
  height: $size
  width: 80px
  background: rgba(black,.7)
  border-radius: 10px 0 0 0
  +opacity(.35)
  +transition(.3s)
  &.appear
    bottom: 0
  &:hover
    +opacity(1)
    .arrow
      bottom: 20px
  .arrow
    position: absolute
    bottom: 15px
    display: block
    background: white
    height: 20px
    width: 20px
    +transition(.3s)
    +absolute-centering(20px)
    +decorative-content(before, false)
      +triangle(top, 30px, white)
      position: relative
      left: -12px
      top: -20px
      border-bottom-width: 24px